.cabecalho{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
}

.container_cabecalho {
    display: flex;
    flex-direction: row;
    border-bottom: 0.4vh solid white;
    box-shadow: 0 0 2vh white;
    background-color: black;
    align-items: center;
}
.itens_cabecalho{
    display: flex;
    flex-direction: row;
    color: rgb(0, 168, 246);
    width: 50%;
    margin-left: 35vw;
    font-size: 170%;
    list-style: none;
    font-weight: bold;
    font-family: candara;
    text-shadow: 1px 1px 0 white;
    justify-content: space-evenly;
}
a {
    color: currentColor;
    text-decoration:none;
}
.logo_cabecalho{
    height: 15vh;
    margin-left: 5vw;
}