#cadastro_card{
    margin: 12% 30% 5% 30%;
    border: 1px solid white;
    border-radius: 50px;
}

.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    border-radius: 50px;
    box-shadow: 1px 1px 40px aqua;
}

.ipt_cadastro{
    width: 300px;
    text-align: center;
    background-color: transparent;
    color: white;
    border: transparent;
    border-bottom: 1px solid aqua;
    margin: 10px 0;
}

h1{
    color: rgb(0, 168, 246);
    font-family: monospace;
    padding: 0;
    font-size: 30px;
    text-shadow: 1px 1px 0px white;
}

.btn_cadastrar{
    color: aqua;
    width: 200px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid rgb(0, 168, 246);
    border-radius: 100px 0 100px 0;
    margin: 20px;
    font-family: monospace;
    padding: 5px;
}

.btn_cadastrar:hover{
    background: white;
    color: black;
    border: 2px solid aqua;
    text-shadow: 1px 1px 3px black;
}