body {
    margin: 0;
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.banner{
    height: 500px;
    width: 80%;
    border: 5px solid white;
    background:black;
    background-size: 100%;
    margin: 10%;
}

.container_banner{
    display: flex;
    flex-direction: row;
}

.img_banner{
    height: 500px;
}

.texto_banner{
    color: rgb(0, 168, 246);
    margin:20px 1px;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.titulo_banner{

    color: aqua;
    margin:20px 1px;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    font-weight: bold;
}