
/* COMEÇO BANNER  */

.banner{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_banner{
    display: flex;
    flex-direction: row;
    width: 99%;
    border: 1px solid var(--branco);
    box-shadow: 1px 1px 30px var(--aqua);
    background:var(--fundoCard);
    border-radius: 25px;
}

.img_banner{
    height: 72vh;
    width: 50vw;
    border-radius: 25px;

}

.caixa_texto_banner{
    display: flex;
    flex-direction: column;
    padding: 1.3vh;
    align-items: center;
}

#saiba_mais{
    text-indent: 0;
    text-decoration: underline;
    font-size: 1.4rem;
    font-family: var(--fonte-titulo);
}

.btn_banner{
    background-color: var(--transparent);
    text-align: center;
    color: var(--aqua);
    font-size: 1.4rem;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    border: var(--transparent);
    border: 2px solid rgb(0, 168, 246);
    border-radius: 100px 0 100px 0;
    padding: 20px;

}

.btn_banner:hover{
    background-color: var(--azul);
    color: var(--branco);
}

#botoes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* FIM BANNER  */

/* ---------------------------------------------------------------------------------------------------------- */

/* COMEÇO EXPLICAÇÃO */

.explicacao_zonaAbissal{
    box-shadow: 1px 1px 40px var(--aqua);
    border: 3px solid var(--branco);
    margin: 0 10% 10% 10%;
    background:var(--fundoCard);
    padding: 30px;
    border-radius: 25px;
}

.corpo_explicacao{
    color:var(--branco);
    text-align: center;
    padding: 0 50px;
    font-size: 80%;
}

#titulo_explicacao{
    color: var(--aqua);
    font-size: 200%;
}

.imagem_explicacao{
    border-radius: 10px;
    height: 30vw;
}

.texto_banner_explicacao{
    color: var(--letra);
    margin:20px 1px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 160%;
    font-family: var(--fonte);
    font-weight: bold;
    text-indent: 70px;
}

.btn_cadastro_explicacao{
    background-color: transparent;
    text-align: center;
    color: var(--aqua);
    font-size: 20px;
    font-family: var(--fonte);
    font-weight: bold;
    border: transparent;
    margin-bottom: 10px;
}
.btn_cadastro_explicacao :hover{
    background: rgb(0, 168, 246);
    padding: 10px;
    border: transparent;
    border-radius: 50px;
    color: black;
}


/* FIM EXPLICAÇÃO */

/* ---------------------------------------------------------------------------------------------------------- */
