
/* COMEÇO BANNER  */

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_banner{
    display: flex;
    flex-direction: row;
    width: 80%;
    border: 1px solid var(--branco);
    box-shadow: 1px 1px 30px var(--aqua);
    background:var(--fundoCard);
    border-radius: 25px;
}

.img_banner{
    height: 70vh;
    border-radius: 25px;

}

.caixa_texto_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

#saiba_mais{
    text-indent: 0;
    text-decoration: underline;
    font-size: 1.4rem;
    font-family: var(--fonte-titulo);
}

.btn_banner{
    background-color: var(--transparent);
    text-align: center;
    color: var(--aqua);
    font-size: 1.4rem;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    border: var(--transparent);
    border: 2px solid rgb(0, 168, 246);
    border-radius: 100px 0 100px 0;
    padding: 20px;

}

.btn_banner:hover{
    background-color: var(--azul);
    color: var(--branco);
}

/* FIM BANNER  */

/* ---------------------------------------------------------------------------------------------------------- */

/* COMEÇO EXPLICAÇÃO */

.explicacao{
    box-shadow: 1px 1px 40px var(--aqua);
    border: 1px solid var(--branco);
    background:var(--fundoCard);
    border-radius: 25px;
    width: 80%;
}

.corpo_explicacao{
    color:var(--branco);
    text-align: center;
    padding: 50px;
    font-size: 80%;
}

.imagem_explicacao{
    margin: 30px 0;
}

.btn_cadastro_explicacao{
    background-color: transparent;
    text-align: center;
    color: var(--aqua);
    font-size: 20px;
    font-family: var(--fonte);
    font-weight: bold;
    border: transparent;
    margin-bottom: 10px;
}
.btn_cadastro_explicacao :hover{
    background: rgb(0, 168, 246);
    padding: 10px;
    border: transparent;
    border-radius: 50px;
    color: black;
}


/* FIM EXPLICAÇÃO */

/* ---------------------------------------------------------------------------------------------------------- */
