.login_card{
    margin: 10% 30% -1% 30%;
    border: 3px solid var(--branco);
    border-radius: 50px;
    background: var(--preto);
    box-shadow: 1px 1px 40px var(--aqua);
}

.ipt_login{
    width: 300px;
    text-align: center;
    background-color: transparent;
    color: var(--branco);
    border: transparent;
    border-bottom: 1px solid aqua;
    margin: 10px 0;
}

.container_cardLogin{
    background-color: var(--preto);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.texto_card{
    color:var(--letra);
    font-family: var(--fonte);
    font-size: 120%;
    margin: 0;
}

.titulo_card{
    color: var(--aqua);
    font-weight: bold;
}

.btn_logar{
    color: var(--aqua);
    width: 200px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid rgb(0, 168, 246);
    border-radius: 100px 0 100px 0;
    margin: 10px;
    font-family: monospace;
    padding: 5px;
}

.btn_logar:hover{
    background: var(--branco);
    color: black;
    border: 2px solid var(--aqua);
    text-shadow: 1px 1px 3px black;
    cursor: pointer;
}

#validar{
    color: white;
}