.perguntas{
margin:9% 10% 0 10%;
/* border: 1px solid white; */
height: 50vh;
color: white;
text-align: center;
font-size: 120%;
flex-wrap: wrap;
}



.btn_play{
    font-family: var(--fonte);
    margin-top: 6%;
    width: 50%;
    border-radius: 100%;
    padding: 10%;
    font-size: 290%;
    border: 3px solid cyan;
    font-weight: bold;
    color: white;
    background-color: black;
    box-shadow: 0 0 30px aqua;
    text-shadow: 0 0 50px white;
    cursor: pointer;
}

.btn_play:hover{
    font-family: var(--fonte);
    margin-top: 6%;
    width: 50%;
    border-radius: 100%;
    padding: 10%;
    font-size: 290%;
    border: 3px solid cyan;
    font-weight: bold;
    color: black;
    background-color: white;
    box-shadow: 0 0 30px aqua;

    cursor: pointer;
}

.sumir{
    background-color: transparent;
    border: transparent;
    width: 30px;
    color: white;
    font-size:100%;
    font-family: var(--fonte);
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.alternativas{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    position: relative;
    color: white;
    height: 5%;
    
}

.alternativa_A{
    display: flex;
    flex-direction: row-reverse;
    font-size: 110%;
}

.alternativa_B{
    display: flex;
    flex-direction: row-reverse;
    font-size: 110%;
}

.alternativa_C{
    display: flex;
    flex-direction: row-reverse;
    font-size: 110%;
}
.alternativa_D{
    display: flex;
    flex-direction: row-reverse;
    font-size: 110%;
}

#mudar_pergunta{
    display: none;
}

.caixa_perguntas{
    display: none;
}

#pergunta{
    font-size: 160%;
}

.confirme{
    width: 15%;
    font-family: var(--fonte);
    font-weight: bold;
    font-size: 115%;
    border-radius: 50px;
    border: 1px solid aqua;
    background: black;
    color: white;
    box-shadow: 0 0 10px aqua;
    cursor: pointer;
}

.botao_confirmar{
    margin-top: 2%;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.ranking{
    font-family: var(--fonte);
    /* margin-top: 6%; */
    border-radius: 50px;
    padding: 1%;
    font-size: 200%;
    border: 3px solid cyan;
    font-weight: bold;
    color: white;
    background-color: black;
    box-shadow: 0 0 30px aqua;
    text-shadow: 0 0 50px white;
    cursor: pointer;
}

#analytics{
    margin-top: -12%;
    display: none;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 110%;
    font-family: var(--fonte);
    font-weight: bold;
}