@font-face {
    font-family: 'Aquatico';
    src: url('fonts/Aquatico-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



:root {
    --fundo: rgb(3, 0, 17);
    --branco: #fdfdfdfd;
    --preto:rgb(0, 0, 0);
    --letra: rgb(0, 168, 246);
    --aqua: rgb(0, 255, 255);
    --azul:rgb(8, 130, 187);
    --transparent: transparent;
    --fundoCard:rgba(0, 0, 0, 0.356);
    --textoRodape:rgba(0, 221, 255, 0.641);
    --fonte-titulo : 'Aquatico', sans-serif;
    --fonte:"Roboto", sans-serif
}